.dark {
    background-image: url("https://res.cloudinary.com/practicaldev/image/fetch/s--BuPz-p40--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/nphrgz8yfnjylrwfr0yl.png");
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    row-gap: 100px;
    padding: 20px 10px;
    color: white;
    text-align: justify;
}

.light {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    row-gap: 100px;
    padding: 20px 10px;
    text-align: justify;
}

.Btns {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.Btn {
    height: 50px;
    width: 80px;
    cursor: pointer;
}

.Btn:hover {
    color: grey
}

.SearchField {
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
