.Wrapper {
    background-color: grey;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
    column-gap: 10px
}

.Wrapper img {
    height: 45px;
    border: 1px solid black;
    border-radius: 20px
}